---
Checks: '-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-sizeof-expression,
  -bugprone-undefined-memory-manipulation,
  misc-const-correctness,
  misc-definitions-in-headers,
  misc-include-cleaner,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unused-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-macro-to-enum,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-simplify-boolean-expr,
  -readability-suspicious-call-argument,
'
WarningsAsErrors:  '*'
HeaderFilterRegex: 'chuffed/(branching|core|examples|flatzinc|globals|ldsb|mdd|mip|primitives|support|vars)'
FormatStyle: file
