name: Clang Format Check
on: [push, pull_request]
jobs:
  clang-format:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.10.1
      with:
        check-path: 'chuffed'
        exclude-regex: '^chuffed/flatzinc/generated_parser/.*'
